/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8 Ιουν 2018, 12:28:29 μμ
    Author     : Administrator
*/

body{
    background:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif!important;
}

 .f-nav { 
    z-index: 9999;
    background-color: rgba(0,0,0,0.5)!important;
    position: fixed!important; 
    left: 0; 
    top: 0; 
    width: 100%;
    }

footer {
    margin-top: 8px;
    text-align: center;
    position: relative;
}