body{
    background:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif!important;
}

 .f-nav { 
    z-index: 9999;
    background-color: rgba(0,0,0,0.5)!important;
    position: fixed!important; 
    left: 0; 
    top: 0; 
    width: 100%;
    }

footer {
    margin-top: 8px;
    text-align: center;
    position: relative;
}